<%password_max_age = Setting.password_max_age.to_i.days%>
<h2><%=l(:rap_mail_body_warn_expiry_header)%></h2>
<hr />
<p><%=l(:rap_mail_body_warn_expiry, 
                                name: @user.name,
                                login: @user.login,
                                days_left: ((((@user.passwd_changed_on || @user.created_on).to_date + password_max_age) - Date.today).to_i)
                                )%></p>
