<h2><%=l(:rap_mail_body_is_expired_header)%></h2>
<hr/>
<p><%=l(:rap_mail_body_is_expired,
                                name: @user.name,
                                login: @user.login
                                )%></p>
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                                                                                                                                  
~                                                                                                
